@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;400&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;  
  background: #0e0e0e;
  overflow-x: hidden;
}

hr{
  width: 100%;
  text-align: center;
  overflow-y: hidden;
  margin-top: 0%;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.bandeau {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home_page{
  height: 100vh;
  width: 99vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 7%;
}

.content_home{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.presentation_home{
  display: flex;
  width: 100%;
  height: 100%;
  text-align: justify;
  align-items: center;
}

.content_presentation_home{
  line-height: 500%;
  margin-left: 15%;
  text-align: center;
}

.titre_content_presentation_home{
  margin-bottom: -6%;
  margin-top: -11%;
  font-family: 'KoHo', sans-serif;
  font-size: 76px; 
}

.content_me{
  
  font-size: 28px;
  font-family: 'KoHo', sans-serif;
}

.stay_tuned{
  font-size: 40px;
  font-family: 'KoHo', sans-serif;
}

.cadre_img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.abstract_form{
  border-radius: 80%;
  position: absolute;
  right: 8%;
  width: 30%;
  z-index: 0;
  overflow: hidden;
}

.img_profil{
  width: 37%;
  height: 50%;
  margin-right: -10%;
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  z-index: 1;
}



/*----------------BANDEAU BUTTON----------------*/

a {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
}

a span {
  display: flex;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 0%;
  font-size: 20px;
  font-family: Arial;
  z-index: 1;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: black;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  
  border-radius: 45%;
  background: rgb(0 150 195);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  
  border-radius: 40%;
  background: rgb(0 85 255);
  animation: animate 10s linear infinite;
}

a:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*----------------SCROLL BAR----------------*/

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*----------------SKILLS----------------*/

.wrapper_description{
  display: flex;
  flex-direction: row;
}

.scnd_image{
  width: 40%;
  margin-left: 5%;
}

.abstract_form2{
  width: 100%;
}

.description{
  width: 60%;
}

/*----------------SKILLS----------------*/
.part3{
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 98vw;
}

.title_skills_container{
  font-family: 'KoHo', sans-serif;
  color: #FFFF;
  font-size: xx-large;
  font-weight: bold;
}

.one_skill{
    display: block;
}

.title_skills{
  color: #FFF;
  text-align: center;
}

.skills_container{
  width: 40%;
  margin-left: 6%;
  text-align: center;
  align-items: center;
  z-index: 1;
  transition: all 1.5s;
}

.hide {
  opacity: 0;
}

.show{
  opacity: 1;
}

.list_skills{
  margin: 5%;
}

.list_skills p{
  font-family: 'KoHo', sans-serif;
  font-size: 19px;
  color: #FFF;
  text-align: left;
}



* {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  }

.show .java {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s javaprogress forwards;
}

@keyframes javaprogress {
  0% {width: 0%;}
  100% {width: 90%;}
}

.show .python {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s pythonprogress forwards;
}

@keyframes pythonprogress {
  0% {width: 0%;}
  100% {width: 80%;}
}

.show .C {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s Cprogress forwards;
}

@keyframes Cprogress {
  0% {width: 0%;}
  100% {width: 65%;}
}

.show .API {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s APIprogress forwards;
}

@keyframes APIprogress {
  0% {width: 0%;}
  100% {width: 60%;}
}

.show .html_css {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s html_cssprogress forwards;
}

@keyframes html_cssprogress {
  0% {width: 0%;}
  100% {width: 25%;}
}

.show .php {
  width: 0%; 
  background-color: #0055ff;
  animation: 3s phpprogress forwards;
}

@keyframes phpprogress {
  0% {width: 0%;}
  100% {width: 65%;}
}


/*----------------IMAGE part3----------------*/

.img_work_wrap {
  margin-top: 9%;
  display: flex;
  align-items: center;
  margin-left: 8%;
  justify-content: center;
  width: 40%;
}

.img_work{
  width: 100%;
  height: auto;
}

/*----------------DESCRIPTION----------------*/

.content_description{
  font-family: 'KoHo', sans-serif;
  display: none;
  color: #FFFF;
  text-align: justify;
  font-size: larger;
  width: 50%;
  }

.description{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------DESCRIPTION BUTTON ----------------*/

.rebond {
  animation: 3s rebond;
}

@keyframes rebond {
  0%, 100%{ transform: translate(0px, 0px); }
  50% { transform: translate(0, -20px); }
}

.button_skills_description {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  background-color: #16a085;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  margin-bottom: 0%;
  }
  
  .button_skills_description:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
  }
  
  .button_skills_description:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
  }
  
  .button_skills_description:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button_skills_description:focus { outline:0; }

/*----------------PROJECTS----------------*/

.img_carousel{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -230%;
  z-index: 0;
}

.project{
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.title_project{
  font-family: 'KoHo', sans-serif;
  color: #FFF;
  font-size: xx-large;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 3;
}

.d-block, h2{
  color: #33475c;
  font-weight: 700;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  }

  #flex-container {
  font-family: 'KoHo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  height: 110vh;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
  }
  
  #left-zone {
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  #left-zone .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .item input {
    display: none;
  }
  
  label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
  }
  
  label:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  
  .content-test {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    height: 50%;
    width: 100%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: none;
  }
  
  .content-test p {
    max-width: 50%;
    text-align: center;
  }
  
  #right-zone {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50%;
  }
  
  input:checked ~ .content-test {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    opacity: 1;
  }
  
  @media (min-width: 480px) {
    #flex-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      min-height: auto;
      height: 400px;
      /* position: absolute; */
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    #left-zone .list {
      border-right: 2px solid #cccccc;
    }
  
    .content-test {
      width: 65%;
      height: 100%;
      pointer-events: auto;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    #left-zone {
      width: 35%;
    }
  
    #right-zone {
      height: 100%;
      width: 65%;
    }
  }
  /* If the screen size is 480px or less */
  @media (max-width: 480px) {
    .content_testimonial-1 .picto {
      padding-top: 100px;
    }
    .content_testimonial-2 .picto {
      padding-top: 100px;
    }
    .content_testimonial-3 .picto {
      padding-top: 100px;
    }
    .content_testimonial-4 .picto {
      padding-top: 100px;
    }
    .content_testimonial-5 .picto {
        padding-top: 100px;
    }
    .item > label {
      font-size: 1.3rem;
    }
  }
  
  .content_testimonial-1 .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/22832928/logoG-min.png?width=64");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-1 h1 {
    color: #d64541;
    text-align: center;
  }
  
  .content_testimonial-2 .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/22788893/favicon.png?width=64");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-2 h1 {
    color: #f5d76e;
  }
  
  .content_testimonial-3 .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/24524537/scissors.png?width=64");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-3 h1 {
    color: #00b16a;
  }
  
  .content_testimonial-4 .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://gitlab.com/Tom-campus-academy/welcome-to/-/raw/master/assets/img/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-4 h1 {
    color: #f27935;
  }

  .content_testimonial-5 .picto {
    height: 100px;
    width: 100px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/23160128/agAMQxx_700bwp.png?width=64");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content_testimonial-5 h1 {
    color: #f5d76e;
  }
  
  .content-test h1:first-letter {
    text-transform: uppercase;
  }
  
  input:checked ~ label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  input:checked ~ label.label_testimonial-1 {
    color: #d64541;
    border-right: solid 4px #d64541;
  }
  
  input:checked ~ label.label_testimonial-2 {
    color: #f5d76e;
    border-right: solid 4px #f5d76e;
  }
  
  input:checked ~ label.label_testimonial-3 {
    color: #00b16a;
    border-right: solid 4px #00b16a;
  }
  
  input:checked ~ label.label_testimonial-4 {
    color: #f27935;
    border-right: solid 4px #f27935;
  }

  input:checked ~ label.label_testimonial-5 {
    color: #f27935;
    border-right: solid 4px #f27935;
  }
  
  label.label_testimonial-1:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/22832928/logoG-min.png?width=64");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label.label_testimonial-2:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/22788893/favicon.png?width=64");
    background-position: center;
    background-size: 75% 75%;
    border-radius: 50%;
    background-repeat: no-repeat;
  }
  
  label.label_testimonial-3:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/24524537/scissors.png?width=64");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label.label_testimonial-4:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://gitlab.com/Tom-campus-academy/welcome-to/-/raw/master/assets/img/logo.png");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  label.label_testimonial-5:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/23160128/agAMQxx_700bwp.png?width=64");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  label.label_testimonial-6:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url("https://assets.gitlab-static.net/uploads/-/system/project/avatar/22832928/logoG-min.png?width=64");
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  label:first-letter {
    text-transform: uppercase;
  }
  
  .label_testimonial-1:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#d64541a3)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #d64541a3);
    background-image: -o-linear-gradient(left, #ffffff, #d64541a3);
    background-image: linear-gradient(to right, #ffffff, #d64541a3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-2:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#f5d76e59)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #f5d76e59);
    background-image: -o-linear-gradient(left, #ffffff, #f5d76e59);
    background-image: linear-gradient(to right, #ffffff, #f5d76e59);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-3:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#00b16aa3)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: linear-gradient(to right, #ffffff, #00b16aa3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-4:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#f27935a3)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
    background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
    background-image: linear-gradient(to right, #ffffff, #f27935a3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  
  .label_testimonial-5:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#f27935a3)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
    background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
    background-image: linear-gradient(to right, #ffffff, #f27935a3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }

  .label_testimonial-6:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#00b16aa3)
    );
    background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
    background-image: linear-gradient(to right, #ffffff, #00b16aa3);
    font-size: 1.2rem;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }